<app-section-head [title]="title"></app-section-head>

<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-xxl-5 col-lg-6 offset-xxl-1 border-end-lg pe-lg-5">
        <h2 class="section-title text-center text-lg-end mb-lg-0">Mang <span class="text-primary">tiếng Trung</span> chất lượng đến mọi học viên</h2>
      </div>
      <div class="col-lg-6 d-flex align-items-center ps-lg-5">
        <p class="mb-lg-0 text-center text-lg-start">Phá bỏ rào cản địa lý, mang đến chương trình học tiếng Trung online chất lượng cao với chi phí hợp lý cho mọi đối tượng học viên.</p>
      </div>
    </div>
    <div class="row row-card-method">
      <div class="col-md-4">
        <div class="card card-method-item">
          <div class="card-body">
            <i class="icon-47"></i>
            <h4>Học 1-1 cùng giáo viên</h4>
            <p>Giáo viên theo sát từng học viên qua hình thức học trực tuyến tương tác</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-method-item">
          <div class="card-body">
            <i class="icon-45"></i>
            <h4>Lộ trình cá nhân hóa</h4>
            <p>Thiết kế lộ trình riêng biệt phù hợp với năng lực và mục tiêu của từng học viên</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-method-item">
          <div class="card-body">
            <i class="icon-46"></i>
            <h4>Đánh giá định kỳ</h4>
            <p>Hệ thống báo cáo học tập chi tiết và đánh giá tiến độ hàng tuần</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-section-cta></app-section-cta>
