<div class="container">
  <h2 class="mb-4">Sẵn sàng bắt đầu <span class="text-primary">hành trình</span> của bạn?</h2>
  <a routerLink="/courses" class="btn btn-primary btn-lg">Khám phá khóa học ngay</a>
</div>

<div class="section-cta-shapes section-cta-shapes-1">
  <img appParallaxItem [top]="0" [left]="0" [rotate]="0" [inversion]="false" [opacity]="1" [movement]="-0.04"
       src="/assets/images/shape-1-1.png" alt="">
</div>
<div class="section-cta-shapes section-cta-shapes-2">
  <img appParallaxItem [top]="0" [left]="0" [rotate]="0" [inversion]="false" [opacity]="1" [movement]="0.02"
       src="/assets/images/shape-3-2.png" alt="">
</div>
<div class="section-cta-shapes section-cta-shapes-3">
  <img appParallaxItem [top]="0" [left]="0" [rotate]="0" [inversion]="false" [opacity]="1" [movement]="0.02"
       src="/assets/images/shape-3.png" alt="">
</div>
<div class="section-cta-shapes section-cta-shapes-4">
  <img appParallaxItem [top]="0" [left]="0" [rotate]="0" [inversion]="false" [opacity]="1" [movement]="-0.02"
       src="/assets/images/shape-02.png" alt="">
</div>
